<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" *ngIf="userSessionExists">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <h5>Edit User Name</h5>
  <h6>Name Given to the user, which will show with the reviews!!</h6>
  <ion-list>
    <ion-item color="secondary">
      <ion-label position="stacked" color="primary">User Name</ion-label>
      <ion-input autofocus [(ngModel)]="account.userName" border-bottom="primary"></ion-input>
    </ion-item>
  </ion-list>    
  <ion-button color="primary" expand="block" (click)="login()">Sign In</ion-button>
</ion-content>