<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-icon routerLink="/home-page" class="home-icon" [name]="'home'"></ion-icon>
    <ion-title>add-review</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" routerLink="/movies">
        <ion-icon name="arrow-back" class="back-icon"></ion-icon>
    </ion-buttons>
    <ion-title>
      Add Review
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img *ngIf="!movie.image" src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png" />
    <img *ngIf="movie.image" src="{{movie.image}}" />
    {{movie?.certificate}}
    <ion-card-title>
      {{movie?.title}}
    </ion-card-title>
    <ion-card-subtitle>
      {{movie?.language}}
    </ion-card-subtitle>
    <ion-card-subtitle>
        {{movie?.description}}
      </ion-card-subtitle>
  </ion-card>
</ion-content>