.rating-list {
    .rating {
        border-bottom: 1px solid lightgray;
        padding: 10px 5px;
        .name-edit {
            display: flex;
            justify-content: space-between;
            .edit {
                color: green;
                font-size: 14px;
            }
        }
        .date {
            margin: 5px 0px;
        }
        .rating-stat-list {
            display: flex;
            margin-bottom: 5px;
            .selected {
                color: gold !important;
            }
        }
    }
}
.no-review {
    text-align: center;
    padding: 40px 0px;
    color: burlywood;
}