<ion-header>
  <ion-toolbar>
    <ion-title>trending-videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true" [options]="slideOpts" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" class="image-slider" id="slides">
    <ion-slide>
      <img src='https://www.greatandhra.com/newphotos7/f2_new111547280515.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='https://i.ytimg.com/vi/lR0hNkCckBw/maxresdefault.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='https://i.ytimg.com/vi/Dk_Bf0Sw2KQ/maxresdefault.jpg'>
    </ion-slide>
  </ion-slides>

  <iframe width="100%" height="200" [src]="videoUrl1 | safePipe" allowfullscreen controls='0'></iframe>
  <iframe width="100%" height="200" [src]="videoUrl2 | safePipe" allowfullscreen></iframe>
  <iframe width="100%" height="200" [src]="videoUrl3 | safePipe" allowfullscreen></iframe>
</ion-content>