<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" routerLink="">
      <ion-icon name="arrow-back" class="back-icon">Trending Videos</ion-icon>
    </ion-buttons>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <iframe width="100%" height="200" [src]="videoUrl1 | safePipe" allowfullscreen controls='0'></iframe>
  <iframe width="100%" height="200" [src]="videoUrl2 | safePipe" allowfullscreen></iframe>
  <iframe width="100%" height="200" [src]="videoUrl3 | safePipe" allowfullscreen></iframe>
</ion-content>