.spinner {
    position: fixed;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
.menu-list {
    height: calc(100% - 44px);
    .menu-nav {
        height: 100%;
    }
}