<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" routerLink="">
      <ion-icon name="arrow-back" class="back-icon"></ion-icon>
    </ion-buttons>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="movies-page">
  <ion-card *ngFor="let movie of movies">
    <div (click)="goToReviewPage(movie)">
      <img *ngIf="!movie.image" src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png" />
      <img *ngIf="movie.image" src="{{movie.image}}" />
      <div class="movie-detail">
        <div>
          <div class="title">{{movie.title}}</div>
          <div>{{movie.language}}</div>
        </div>
        <div>
          <ion-button color="secondary" size="small">View</ion-button>
        </div>
      </div>
    </div>
    <ion-button *ngIf="isAdmin" color="secondary" size="small" (click)="updateMovieDetails(movie)">Update</ion-button>
  </ion-card>

</ion-content>