<ion-header class="movies-header">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <!-- <ion-button> -->
        <!-- <ion-icon name="arrow-back" class="back-icon"></ion-icon> -->
        <ion-menu-button></ion-menu-button>
      <!-- </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="primary">
      <!-- <ion-button (click)="toggleSearc()">
        <ion-icon class="search-icon" name="search"></ion-icon>
      </ion-button> -->
      <ion-button (click)="openLanguageSettings($event)">
        <ion-icon class="language-settings" name="md-settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="movies-title">{{title}}</div>
      <div class="selcted-langualge">{{prefferedLanguage}}</div>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch">
    <ion-searchbar placeholder="Search Movie Name" animated debounce="500" color="danger"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content id="infiniteContainer" class="movies-page" (ionScroll)="scroll($event)" [scrollEvents]="true">
  <ion-card *ngFor="let movie of movies">
    <div (click)="goToReviewPage(movie)">
      <img *ngIf="!movie.image" src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png" />
      <img *ngIf="movie.image" src="{{movie.image}}" />
      <div class="movie-detail">
        <div>
          <div class="title">{{movie.title}}</div>
          <div>{{movie.language}}</div>
        </div>
        <div>
          <ion-button color="secondary" size="small">View</ion-button>
        </div>
      </div>
    </div>
    <ion-button *ngIf="isAdmin" color="secondary" size="small" (click)="updateMovieDetails(movie)">Update</ion-button>
    <ion-button *ngIf="isAdmin" color="secondary" size="small" (click)="deleteMovie(movie)">Delete</ion-button>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>