.movies-header {
    .movies-title {
        font-size: 17px;
    }
    .selcted-langualge {
        font-size: 13px;
        margin-top: 2px;
    }
    .language-settings {
        font-size: 21px;
    }
    .search-icon {
        font-size: 21px;
    }
}
.movies-page {
    .movie-detail {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .title {
            color: black;
            font-weight: bold;
            font-size: 14px;
        }
    }
}