<!-- <ion-header>
  <ion-toolbar transparent>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">

  <ion-card routerLink="/movies">
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png" />
    <div class="card-title">Reviews</div>
    <div class="card-subtitle">Show All Reviews</div>
  </ion-card>

  <ion-card>
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-sf.png" />
    <div class="card-title">Trailors</div>
    <div class="card-subtitle">Coming Soon</div>
  </ion-card>

  <ion-card>
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-madison.png" />
    <div class="card-title">Photos</div>
    <div class="card-subtitle">Coming Soon</div>
  </ion-card>

</ion-content>