<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" routerLink="">
      <ion-icon name="arrow-back" class="back-icon"></ion-icon>
    </ion-buttons>
    <ion-title>
      Create Trending Videos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label position="stacked" color="primary">Image URL</ion-label>
    <ion-input autofocus [(ngModel)]="trending.imageName" border-bottom="primary"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Video Url</ion-label>
    <ion-input autofocus [(ngModel)]="trending.videoUrl" border-bottom="primary"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" color="primary">Video Title</ion-label>
    <ion-input autofocus [(ngModel)]="trending.videoTitle" border-bottom="primary"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block" (click)="createVideo()">Create / Update Video</ion-button>
</ion-content>